@model User;
@{
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
}

<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <title>Авторизация</title>
</head>

<body>
    <div class="container mt-4">
        <h2 class="mb-4 text-center navbar-brand" style="font-size: 24px;">Авторизация</h2>
        <div class="d-flex justify-content-center">
            <form asp-action="Login" method="post" class="text-center account-form" id="sign_in_form">
                <div class="mb-3">
                    <div class="d-flex justify-content-center">
                        <input asp-for="Phone" type="tel" name="phone" id="phone" class="form-control"
                            placeholder="Введите номер телефона">
                    </div>
                    <div class="d-flex justify-content-left">
                        <p><br></p>
                    </div>
                </div>
                <div class="mb-3">
                    <div class="d-flex justify-content-center">
                        <input asp-for="Password" type="password" name="password" id="password" class="form-control"
                            placeholder="Введите пароль">
                    </div>
                    <div class="d-flex justify-content-left">
                        <p><br></p>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary" style="margin-left: 15px;">Войти</button>
            </form>
        </div>
    </div>
    <script src="sign-in.js"> </script>
</body>


</html>
